<div *ngIf="authenticated; else callLogin">

<button type="button" class="button3" (click)="logout()">Logout</button>
<h1>Boats List:</h1>
  <div *ngIf="boats.length>0; else emptyBoats">
      <ul class="boats">
          <li *ngFor="let boat of boats">
              <button [class.selected]="boat === selectedBoat" type="button" (click)="onSelect(boat)">
                  <span class="">{{boat.name}}</span>
              </button>
          </li>
      </ul>
  </div>
 <ng-template #emptyBoats> <h2>No boats recorded ! Please add boats through the add form !</h2></ng-template>
 <app-boat-details [boat]="selectedBoat" (deleteEvent)="onDeleted($event)"></app-boat-details>
 <app-add-boat (addEvent)="onAdded($event)"></app-add-boat>
 <app-messages></app-messages>
</div>
<ng-template #callLogin>
  {{login()}}
</ng-template>
