<div *ngIf="authenticated; else callLogin">
<h2>Add a new boat </h2>
  <div>
    <label for="boat-name">Boat name: </label>
    <input id="boat-name" [(ngModel)]="name" placeholder="name">
    <label for="boat-description">Description: </label>
    <input id="boat-description" [(ngModel)]="description" placeholder="description">
    <button type="button" (click)="addBoat()">Add Boat</button>
  </div>
<!--<app-messages></app-messages>-->
</div>
<ng-template #callLogin>
  {{login()}}
</ng-template>
